:root{
    --border: hsl(249, 99%, 64%);
    --borderActive: hsl(278, 94%, 30%);
    --error: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --lightGrayish: hsl(270, 3%, 87%);
    --darkGrayish: hsl(279, 6%, 55%);
    --veryDark: hsl(278, 68%, 11%);
    --md: 18px;
}
body{
        margin: 0;
        font-family: 'Space Grotesk', sans-serif;
}

.info-card{
    width: 400px;
    height: 380px;
    color: var(--borderActive);
    margin: 0;
    position: absolute;
    top: 28%;
    left: 60%;
    letter-spacing: 1px;
    
}

#text-info{
    font-size: var(--md);
    padding: 20px 0 8px;
}
.box{
    width: 350px;
    height: 40px;
    color:var(--lightGrayish);
    border-radius: 10px;
    border-color: var(--lightGrayish);
    padding: 0 0 0 16px;
    font-size: var 16px;
    font-family: 'Space Grotesk', sans-serif;
}
.box-info{
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-date{
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    color:var(--lightGrayish);
    border-radius: 10px;
    border-color: var(--lightGrayish);
    padding: 0 0 0 16px;
    font-size: var(--md);
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    align-items: center;
}
.card-date{
    width: 200px;
    margin: 0;
}
.card-codi{
    width: 200 px;
    margin: 0;
    position: absolute;
    top: 190px;
    left: 50%;;
    font-family: 'Space Grotesk', sans-serif;
}
.box-cvc{
    width: 150px;
    height: 40px;
    color:var(--lightGrayish);
    border-radius: 10px;
    border-color: var(--lightGrayish);
    padding: 0 0 0 16px;
    position: absolute;
    top: 240px;
    left: 50%;
    font-size: var(--md);
}
.confirm{
    width: 93%;
    height: 55px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--veryDark);
    border-radius: 10px;
    color: var(--White);
    font-size: var(--md);
    font-family: 'Space Grotesk', sans-serif;
}

.imgCardFront{
    width: 447x;
    height: 255px;
    position: absolute;
    top: 25%;
    left: 10%;
    object-fit: cover;
    border-radius: 50px;
}
.imgCardBack{
    width: 447x;
    height: 255px;
    position: absolute;
    top: 57%;
    left: 18%;
    object-fit: cover;
}
.circle-white{
    width: 50px;
    height: 50px;
    background-color: var(--White);
    border-radius: 50px;
    position: absolute;
    top: 13%;
    left: 10%;
}
.circle-only{
    width: 20px;
    height: 20px;
    border-radius:50%;
    border: solid 3px var(--White);
    overflow:hidden;
    position: absolute;
    top: 18%;
    left: 26%;
}
/*The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px*/

